* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.px {
  padding: 0 0.5rem;
}
.px-1 {
  padding: 0 1rem;
}
.px-2 {
  padding: 0 2rem;
}
.px-3 {
  padding: 0 3rem;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.mx {
  margin: 0 0.5rem;
}
.mx-1 {
  margin: 0 1rem;
}
.mx-2 {
  margin: 0 2rem;
}
.mx-3 {
  margin: 0 3rem;
}

.x-large {
  font-size: 4rem;
}

.large {
  font-size: 3rem;
}
.medium {
  font-size: 2rem;
}

.pencil {
  font-size: 1.4rem;
}
.small {
  font-size: 1.2rem;
}
.x-small {
  font-size: 0.9rem;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
}
nav {
  height: 10vh;
  background-color: #336d88;
  color: white;
}

.nav-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  padding: 0 2.5rem;
}

.right-nav,
.left-nav {
  justify-self: flex-end;
  height: 100%;
  display: flex;
  align-items: center;
}
.left-nav {
  justify-self: flex-start;
}
.right-nav a {
  padding: 1rem;
}
