* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1.5px;
}

.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.px {
  padding: 0 0.5rem;
}
.px-1 {
  padding: 0 1rem;
}
.px-2 {
  padding: 0 2rem;
}
.px-3 {
  padding: 0 3rem;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.mx {
  margin: 0 0.5rem;
}
.mx-1 {
  margin: 0 1rem;
}
.mx-2 {
  margin: 0 2rem;
}
.mx-3 {
  margin: 0 3rem;
}

.x-large {
  font-size: 4rem;
}

.large {
  font-size: 3rem;
}
.medium {
  font-size: 2.2rem;
}

.pencil {
  font-size: 1.7rem;
}
.small {
  font-size: 1.5rem;
}
.x-small {
  font-size: 0.9rem;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  height: 100%;
}
.btn {
  padding: 0.7rem 1rem;
  background-color: #004d40;
  width: fit-content;
  box-shadow: 1px 1px 5px black;
  border-radius: 2px;
  transition: all 0.4s;
  font-size: 1.1rem;
  color: white;
  outline: none;
}
.btn:hover {
  background-color: #077c70;
}
.block {
  display: block;
  width: 100%;
}
.logo {
  font-size: 2rem;
}
.active {
  background: teal;
}

/* -------------Navbar---------------- */
nav {
  height: 3.8rem;
  background-color: #222831;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  z-index: 20;
}
.divider {
  margin: 0 0.3rem;
}
.teal {
  color: teal;
}
.nav-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  padding: 0 2.5rem;
  align-items: center;
}

.right-nav,
.left-nav {
  justify-self: flex-end;
  height: 100%;
  display: flex;
  align-items: center;
}
.search-bar {
  margin: 0;
  background: teal;
  padding: 0 0.5rem;
  width: 32rem;
  height: 2.5rem;
  color: white;
  display: block;
}
.search::placeholder,
.search-bar::placeholder {
  color: gray;
}
.left-nav a {
  display: block;
  display: flex;
  align-items: center;
}
.left-nav {
  justify-self: flex-start;
}
.right-nav a {
  padding: 0.5rem 0.5rem;
  transition: all 0.3s;
  font-size: 1.1rem;
}

.right-nav a:hover {
  background-color: gray;
}
/* -----------Landing----------------- */
header {
  min-height: 100vh;
  background-image: url(./images/1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
}
.register,
.login {
  margin-top: 3rem;
}
.overlay {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.container {
  max-width: 80%;
  margin: auto;
}
.mid-container {
  padding-left: 250px;
  padding-right: 275px;
  overflow-x: hidden;
}
.bg-teal {
  background-color: teal;
}
.padding-top {
  padding-top: 5rem;
}
.content {
  z-index: 10;
  position: relative;
  color: wheat;
  height: 100%;
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
}
.card {
  box-shadow: 1px 1px 20px black;
  padding: 1rem 1rem 1rem 1rem;
}
.auth {
  width: 50%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}
form {
  width: 100%;
}
input {
  width: 100%;
  height: 2.5rem;
  font-size: 1.2rem;
  padding: 0 2.65rem 0 0.4rem;
  margin: 1rem 0;
  background-color: transparent;
  border: none;
  border: 1px solid white;
  border-radius: 3px;
  color: wheat;
}
.input-wrapper {
  position: relative;
}

.eyeslash-wrapper {
  position: absolute;
  right: 10px;
  top: 26px;
}

input::placeholder {
  color: white;
}
input[type="submit"] {
  border: none;
  cursor: pointer;
}

.login-link,
.auth-links a {
  padding-bottom: 0.3rem;
  border-bottom: 1px solid white;
  transition: all 0.3s;
}

.login-link:hover,
.auth-links a:hover {
  color: #f03a02;
  border-bottom: 1px solid transparent;
}

.auth-links {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
}

/* -----------------Side-Drawer------------------------ */
.side-drawer {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  background-color: rgb(238, 236, 236);
  transition: all 0.2s;
  z-index: 15;
  overflow-y: auto;
}
/* ---------------------Aside--------------------------- */

.aside {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  background-color: rgb(238, 236, 236);
  transition: all 0.2s;
  z-index: 15;
  width: 275px;
  overflow-y: auto;
}

/* ---------------------Backdrop-------------------- */
.backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
/* ----------------------Profile-------------------------- */
.image {
  display: flex;
  justify-content: center;
}
.image img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.text {
  font-size: 1.3rem;
}
.pro-content p {
  display: flex;
  padding: 0.5rem 1rem;
  color: white;
  font-size: 1.3rem;
  align-items: center;
  font-weight: 500;
}
.pro-content .fas {
  display: block;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  margin-right: 0.2rem;
  align-items: center;
  width: 2rem;
}
.background-img {
  background-image: url(./images//back.jpg);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1rem;
  color: white;
}
.user-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 0.3rem;
}
.side-drawer ul li a {
  padding: 1rem;
  display: block;
  width: 100%;
  border-bottom: 1px solid rgb(224, 224, 224);
  color: rgb(90, 86, 86);
}

.list {
  display: flex;

  border: 1px solid rgb(196, 194, 194);
  border-right: none;
  padding: 0.5rem 0.5rem;

  color: rgb(90, 86, 86);
}
.aside::-webkit-scrollbar {
  display: none;
}
.list img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.follow-links .fab {
  transition: all 0.3s;
}
.follow-links .fab:hover {
  color: black;
  transform: scale(1.1);
}
/* -------------------Followers----------------------- */
.follower {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 95%;
  background-color: rgb(243, 243, 243);
  color: rgb(102, 102, 102);
  margin: 0.5rem auto;
}
.info {
  margin-left: 2rem;
  margin-top: 2rem;
}
.follower img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.border-div {
  border: 1px dotted rgb(192, 192, 192);
}

/* -------------------Posts------------------------------ */
.post-img img {
  width: 80px;
  height: 80px;

  border-radius: 50%;
}
.post {
  width: 98%;
  margin: auto;
  margin-bottom: 1rem;
  border: 1px dotted rgb(179, 179, 179);
  background-color: rgb(231, 231, 231);
}
.line {
  border-bottom: 1px solid gray;
}
.post-links {
  position: absolute;
  right: 0rem;
  top: 1.3rem;
}
.post-links a i {
  color: red;
}
.post-info {
  display: flex;
  position: relative;
  align-items: center;
  padding: 1rem 0rem 0 1rem;
}
.post-name {
  margin-bottom: 1.5rem;
  margin-left: 2rem;
}
.post-content {
  padding: 1rem;
}
.reaxn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding: 0.7rem;
  color: teal;
  border-top: 1px solid gray;
}
.likes {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border: 1px dotted gray;
  margin-bottom: 0.5rem;
}
.likes-container {
  padding: 0.5rem;
}

.like-image img {
  width: 80px;
  height: 80px;
  margin-right: 1rem;
  border-radius: 50%;
}
.like-info {
  align-self: flex-start;
}
.like-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* ---------------Github content---------------- */
.github-content {
  width: 98%;
  margin: auto;
  display: grid;
  grid-gap: 1rem;
  align-items: flex-start;
  grid-template-columns: 3fr 1fr;
}
.git-strazers {
  justify-self: flex-end;
}
.github-content {
  background-color: rgb(219, 219, 219);
  margin-bottom: 1rem;
}
.badge {
  padding: 0.4rem;
  margin: 0.3rem;
  color: white;
}
.navy {
  background-color: #222831;
}
.tomato {
  background-color: #222831;
}
.orange {
  background-color: #c70039;
}

/* ------------------Education & Experience------------------------- */

.head {
  display: flex;
  align-items: center;

  background-color: rgb(219, 219, 219);
}

.head p {
  padding: 1rem 0 1rem 0.5rem;
  word-wrap: break-word;
  min-height: 5rem;
}
.special {
  display: flex;
  align-items: center;
  font-weight: 500;
}
/* ------------Settings------------------- */
.settings {
  width: 95%;
  margin: 2rem auto;
}
.settings li {
  text-align: center;
  margin-bottom: 0.6rem;
} /* ------------------Modal------------------------- */
.modal {
  position: fixed;
  top: 30vh;
  overflow: auto;
  max-height: 80vh;
  z-index: 100;
  width: 50%;
  left: 25%;
}
.modal-heading {
  background-color: #077c70;
  padding: 0.5rem;
  color: white;
}
.modal-content {
  background-color: gainsboro;
  padding: 1rem 0.5rem;
}
.modal-links {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  justify-content: flex-end;
} /* ------------------Forms-------------------- */
.education-form input[type="text"],
.education-form input[type="date"] {
  border: 1px solid gray;
  color: initial;
  margin: 0;
}
.education-form input::placeholder {
  color: gray;
}
.education-form {
  margin-top: 2rem;
}
textarea {
  width: 100%;
  height: 7rem;
  padding: 0.5rem;
}
input[type="file"] {
  width: 100%;
  height: 100%;
  padding: 0;
  color: initial;
  border: 1px solid black;
}
.input-field span {
  margin: 0.5rem 0 0 0.2rem;
  color: rgb(182, 182, 182);
}
.input-field {
  margin-bottom: 1.5rem;
}
.social-links {
  margin-bottom: 1rem;
}
.input {
  position: relative;
}

.input input[type="text"] {
  height: 3rem;
  padding: 0 1rem 0 2.5rem;
}
.input .fab {
  position: absolute;
  font-size: 1.5rem;
  left: 0.5rem;
  top: 12px;
}
.links {
  display: flex;
  align-items: center;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px !important;
}
.check {
  display: flex;
  align-items: center;
}
/* Alerts */
.Toastify__progress-bar--dark {
  background-color: transparent !important;
}
.black-background {
  background-color: red !important;
  text-align: center !important;
  color: white !important;
}
.Toastify__close-button--default {
  color: transparent !important;
}
.grow-font-size {
  font-weight: 500 !important;
  font-size: 1rem !important;
}

/* ---------------------Change Password--------------------- */
.change-password {
  margin-top: 2rem;
}
.feild {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  margin-bottom: 1rem;
}
.feild input[type="password"],
.create-post input[type="text"] {
  border: 1px solid gray;
  color: gray;
  margin: 0;
  padding: 0 0.5rem;
}
.create-post input::placeholder {
  color: gray;
}
.create-post textarea {
  color: black;
  min-height: 5rem;
  font-size: 1rem;
}
label {
  height: 2.5rem;
  display: flex;
  align-items: center;
}
/* ----------------------Comments------------------------------ */

.badge-comment {
  background-color: teal;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
/* ----------------------------Forgot Password----------------------- */

.forgot-password {
  width: 60%;
  margin: auto;
  background: #222831;
  padding: 2rem;
  color: white;
}
.forgot-password input[type="text"] {
  border: 1px solid white;
  color: white;
  padding: 0.3rem 0.5rem;
}

/* -----------------------Footer------------------------ */
.footer {
  position: fixed;
  bottom: 0;

  left: 0;
  color: white;
  background-color: #222831;
  right: 0;
  padding: 0.5rem 1.5rem;
}
.footer i {
  font-size: 1.1rem;
}
.copy {
  color: rgb(194, 194, 194);
}
.footer-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.right-info {
  display: flex;
  justify-content: flex-end;
}
.right-info p {
  padding-left: 2rem;
  transition: all 0.3s;
}
.right-info p:hover {
  color: teal;
}
/* -----------------About-------------------- */
.about {
  margin-top: 7rem;
}
/* ------------------Not Found--------------------- */
.not-found {
  margin-top: 5rem;
}
/* --------------------------Media Queries---------------------------- */
@media (max-width: 992px) {
  .forgot-password {
    width: 70%;
  }
  .auth {
    width: 60%;
  }
  .aside {
    display: none;
  }
  .mid-container {
    padding-right: 0px;
  }
  .td {
    display: flex;
    flex-direction: column;
  }
  .auth-links {
    grid-template-columns: 1fr;
  }

  .auth-links a {
    margin-bottom: 0.5rem;
  }
  .modal {
    width: 70%;
    left: 15%;
  }
  .search-bar {
    width: 22rem;
  }
}

@media (min-width: 768px) {
  .hide {
    display: none;
  }
}
@media (max-height: 700px) {
  .heading {
    margin-top: 3rem;
  }
}

@media (max-width: 768px) {
  .text {
    font-size: 1rem;
  }
  input {
    font-size: 0.9rem;
  }
  .not-found {
    margin-top: 10rem;
  }
  .padding-top {
    padding-top: 8rem;
  }
  .register,
  .login {
    margin-top: 6rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  nav {
    height: 6.5rem;
  }

  .forgot-password {
    width: 80%;
  }
  .mid-container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .container {
    max-width: 93%;
  }

  .nav-wrapper {
    grid-template-columns: 1fr;
    padding: 0;
    align-items: center;
  }
  .left-nav,
  .right-nav {
    justify-self: center;
    align-self: center;
  }

  .right-nav {
    padding-bottom: 0.4rem;
    margin-top: 0.3rem;
  }
  .large {
    font-size: 2.2rem;
  }
  .medium {
    font-size: 1.5rem;
  }

  .pencil {
    font-size: 1.2rem;
  }

  .auth {
    width: 80%;
  }

  .modal {
    width: 80%;
    left: 10%;
  }
  .post-links {
    top: 2rem;
  }
  .footer {
    text-align: center;
  }

  .footer-content {
    grid-template-columns: 1fr;
    justify-items: center;
    grid-gap: 0.5rem 0;
  }
  .right-info {
    justify-content: center;
  }
  .copy {
    margin-top: 1rem;
  }
}

@media (max-width: 500px) {
  .auth {
    width: 95%;
  }
  .forgot-password {
    width: 95%;
    padding: 1rem;
  }

  .large {
    font-size: 1.7rem;
  }

  .pencil {
    font-size: 1.2rem;
  }
  .small {
    font-size: 1rem;
  }
  .search-bar {
    width: 13rem;
  }
  .head p {
    font-size: 85%;
    word-wrap: break-word;
    border-right: 1px solid grey;
    height: 7rem;
    padding: 1rem 0.1rem;
  }

  .post-links {
    top: 5.7rem;
    left: 7rem;
  }
  .post-name {
    margin-left: 1rem;
  }
  .notifyme {
    font-size: 1.2rem;
  }
  .bell {
    font-size: 0.8rem !important;
  }
}
